<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Classic Layouts</title>
    <link rel="stylesheet" href="style.css" charset="utf-8">
  </head>
  <body>
    <div class="header">
      header
    </div>
    <div class="content clearfix">
        <div class="sidebar">
        <!-- ul>li*4>a -->
          <ul>
            <li>
              <a href="#">link1</a>
            </li>
            <li>
              <a href="#">link2</a>
            </li>
            <li>
              <a href="#">link3</a>
            </li>
            <li>
              <a href="#">link4</a>
            </li>
          </ul>
        </div>
        <div class="main">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil distinctio
             ex ab nesciunt consequuntur ea possimus maxime fugit unde aut officiis, iusto
              omnis sed sit sunt eveniet veniam vitae quisquam.</p>
          <p>Natus rem earum maxime dolorem fugit molestiae ipsum? Expedita autem atque
            corrupti! Beatae quod amet non quasi aliquid soluta quam quidem, quos
            necessitatibus ipsam tenetur eaque voluptatum tempora debitis aut!</p>
          <p>Asperiores in nemo, dicta quisquam dolorem blanditiis at neque nisi ab?
            Reiciendis voluptatum, dolor cumque aliquid, magnam rem amet debitis, maiores
             fugiat ut eveniet inventore perferendis, id. Distinctio, fugit, quas!</p>
          <p>Adipisci quas in modi quaerat consequuntur officia quam temporibus nobis
            ollitia explicabo, tempore eius, possimus, tenetur doloremque. Quisquam
            corrupti quam, in, aperiam excepturi doloribus? Ipsa eius reprehenderit
            sint aliquam quod.</p>
          <p>Sint quae ea animi incidunt aperiam nobis dolor. Ipsam nihil voluptas
            minus, minima, pariatur dolor tenetur quod fugiat quae, ratione tempore.
            Deleniti in mollitia tempore provident. Doloremque necessitatibus ullam, cum.</p>
        </div>
        <div class="ads">
          ads
        </div>
    </div>
    <div class="footer">
      footer
    </div>
  </body>
</html>
